{% extends "base.html" %}

{% block content %}

<div class="card" style="max-width:400px;margin:auto;">

    <h2>Admin Login</h2>

    <form action="/dispatch-map" method="get">

        <label>Username</label>

        <input
            type="text"
            value="xperez2301"
            required>

        <label>Password</label>

        <input
            type="password"
            placeholder="Enter Password"
            required>

        <button type="submit">
            Login
        </button>

    </form>

</div>

{% endblock %}